# LEVEL 1

In [0]:
#importing liabraries

import pandas as pd
import numpy as np

In [0]:
#importing datasets which is downloaded from kaggle

data_2015 = pd.read_csv('2015.csv')
data_2016 = pd.read_csv('2016.csv')
data_2017 = pd.read_csv('2017.csv')

Exploratory Data Analysis

In [0]:
data_2015.describe()

,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
count,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000
mean,79.493671,5.375734,0.047885,0.846137,0.991046,0.630259,0.428615,0.143422,0.237296,2.098977
std,45.754363,1.145010,0.017146,0.403121,0.272369,0.247078,0.150693,0.120034,0.126685,0.553550
min,1.000000,2.839000,0.018480,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.328580
25%,40.250000,4.526000,0.037268,0.545808,0.856823,0.439185,0.328330,0.061675,0.150553,1.759410
50%,79.500000,5.232500,0.043940,0.910245,1.029510,0.696705,0.435515,0.107220,0.216130,2.095415
75%,118.750000,6.243750,0.052300,1.158448,1.214405,0.811013,0.549092,0.180255,0.309883,2.462415
max,158.000000,7.587000,0.136930,1.690420,1.402230,1.025250,0.669730,0.551910,0.795880,3.602140

In [0]:
data_2016.describe()

,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
count,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000
mean,78.980892,5.382185,5.282395,5.481975,0.953880,0.793621,0.557619,0.370994,0.137624,0.242635,2.325807
std,45.466030,1.141674,1.148043,1.136493,0.412595,0.266706,0.229349,0.145507,0.111038,0.133756,0.542220
min,1.000000,2.905000,2.732000,3.078000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.817890
25%,40.000000,4.404000,4.327000,4.465000,0.670240,0.641840,0.382910,0.257480,0.061260,0.154570,2.031710
50%,79.000000,5.314000,5.237000,5.419000,1.027800,0.841420,0.596590,0.397470,0.105470,0.222450,2.290740
75%,118.000000,6.269000,6.154000,6.434000,1.279640,1.021520,0.729930,0.484530,0.175540,0.311850,2.664650
max,157.000000,7.526000,7.460000,7.669000,1.824270,1.183260,0.952770,0.608480,0.505210,0.819710,3.837720

In [0]:
data_2017.describe()

,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
count,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000
mean,78.000000,5.354019,5.452326,5.255713,0.984718,1.188898,0.551341,0.408786,0.246883,0.123120,1.850238
std,44.888751,1.131230,1.118542,1.145030,0.420793,0.287263,0.237073,0.149997,0.134780,0.101661,0.500028
min,1.000000,2.693000,2.864884,2.521116,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.377914
25%,39.500000,4.505500,4.608172,4.374955,0.663371,1.042635,0.369866,0.303677,0.154106,0.057271,1.591291
50%,78.000000,5.279000,5.370032,5.193152,1.064578,1.253918,0.606042,0.437454,0.231538,0.089848,1.832910
75%,116.500000,6.101500,6.194600,6.006527,1.318027,1.414316,0.723008,0.516561,0.323762,0.153296,2.144654
max,155.000000,7.537000,7.622030,7.479556,1.870766,1.610574,0.949492,0.658249,0.838075,0.464308,3.117485

In [0]:
data_2015.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [0]:
data_2016.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [0]:
data_2017.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

## 1. Countries with a happiness score of less than 5.0

In [0]:
#Consdering year 2017 for this analysis, i.e. , the dataset which is most updated one.

df_country = data_2017[data_2017['Happiness.Score'] < 5]  # score less than 5

In [0]:
df = df_country.reset_index(drop = True)
df[['Country', 'Happiness.Score']]

                     Country  Happiness.Score
0                      Nepal            4.962
1                   Mongolia            4.955
2               South Africa            4.829
3                    Tunisia            4.805
4    Palestinian Territories            4.775
5                      Egypt            4.735
6                   Bulgaria            4.714
7               Sierra Leone            4.709
8                   Cameroon            4.695
9                       Iran            4.692
10                   Albania            4.644
11                Bangladesh            4.608
12                   Namibia            4.574
13                     Kenya            4.553
14                Mozambique            4.550
15                   Myanmar            4.545
16                   Senegal            4.535
17                    Zambia            4.514
18                      Iraq            4.497
19                     Gabon            4.465
20                  Ethiopia            4.460
21                 Sri Lanka            4.440
22                   Armenia            4.376
23                     India            4.315
24                Mauritania            4.292
25       Congo (Brazzaville)            4.291
26                   Georgia            4.286
27          Congo (Kinshasa)            4.280
28                      Mali            4.190
29               Ivory Coast            4.180
30                  Cambodia            4.168
31                     Sudan            4.139
32                     Ghana            4.120
33                   Ukraine            4.096
34                    Uganda            4.081
35              Burkina Faso            4.032
36                     Niger            4.028
37                    Malawi            3.970
38                      Chad            3.936
39                  Zimbabwe            3.875
40                   Lesotho            3.808
41                    Angola            3.795
42               Afghanistan            3.794
43                  Botswana            3.766
44                     Benin            3.657
45                Madagascar            3.644
46                     Haiti            3.603
47                     Yemen            3.593
48               South Sudan            3.591
49                   Liberia            3.533
50                    Guinea            3.507
51                      Togo            3.495
52                    Rwanda            3.471
53                     Syria            3.462
54                  Tanzania            3.349
55                   Burundi            2.905
56  Central African Republic            2.693

## 2. Which is the unhappiest country in Sub-Saharan Africa?

In [0]:
# Considering 2015 data set for this question. For other data set it can be easily searched, just have to import that year's dataset.

df_country = data_2015[data_2015['Region'] == 'Sub-Saharan Africa']
df = df_country.reset_index(drop = True)

In [0]:
minimum = df.min(axis = None)
print(minimum).    #finding minimum of all the columns individually so can pick up the minimum Happiness score in order to find that country.

Country                                      Angola
Region                           Sub-Saharan Africa
Happiness Rank                                   71
Happiness Score                               2.839
Standard Error                              0.03464
Economy (GDP per Capita)                          0
Family                                            0
Health (Life Expectancy)                          0
Freedom                                     0.10081
Trust (Government Corruption)                0.0306
Generosity                                  0.06822
Dystopia Residual                           0.67042
dtype: object

In [0]:
minimum_happiness_score = minimum['Happiness Score']
type(minimum_happiness_score)

float

In [0]:
df[df['Happiness Score'] == minimum_happiness_score]

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
39,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

## 3. Compare the Unhappiest and happiest countries in each region

In [0]:
# Using dataset 2015 for this analysis

regions = data_2015['Region'].value_counts()  #finding all the regions in the dataset
print(regions)

Sub-Saharan Africa                 40
Central and Eastern Europe         29
Latin America and Caribbean        22
Western Europe                     21
Middle East and Northern Africa    20
Southeastern Asia                   9
Southern Asia                       7
Eastern Asia                        6
North America                       2
Australia and New Zealand           2
Name: Region, dtype: int64

In [0]:
for i in regions.index:
    df_country = data_2015[data_2015['Region'] == i]
    df = df_country.reset_index(drop = True)
    minimum = df.min(axis = None)
    maximum = df.max(axis = None)
    minimum_happiness_score = minimum['Happiness Score']
    maximum_happiness_score = maximum['Happiness Score']
    
    print("Region :", i)
    print()
    
    df_min = df[df['Happiness Score'] == minimum_happiness_score]

    df_min = df_min[['Country', 'Happiness Rank', 'Happiness Score']]     #Unhappiest Country
    print('Unhappiest Country')
    print()
    print(df_min.to_string(index = False))
    print()
                                                                                 #vs                                                           

    df_max = df[df['Happiness Score'] == maximum_happiness_score]
    
    df_max = df_max[['Country', 'Happiness Rank', 'Happiness Score']]     #Happiest country
    print('Happiest Country')
    print()
    print(df_max.to_string(index = False))
    
    print()
    print()

Region : Sub-Saharan Africa

Unhappiest Country

Country  Happiness Rank  Happiness Score
   Togo             158            2.839

Happiest Country

   Country  Happiness Rank  Happiness Score
 Mauritius              71            5.477


Region : Central and Eastern Europe

Unhappiest Country

  Country  Happiness Rank  Happiness Score
 Bulgaria             134            4.218

Happiest Country

        Country  Happiness Rank  Happiness Score
 Czech Republic              31            6.505


Region : Latin America and Caribbean

Unhappiest Country

Country  Happiness Rank  Happiness Score
  Haiti             119            4.518

Happiest Country

    Country  Happiness Rank  Happiness Score
 Costa Rica              12            7.226


Region : Western Europe

Unhappiest Country

Country  Happiness Rank  Happiness Score
 Greece             102            4.857

Happiest Country

     Country  Happiness Rank  Happiness Score
 Switzerland               1            7.587


Region : Middle East and Northern Africa

Unhappiest Country

Country  Happiness Rank  Happiness Score
  Syria             156            3.006

Happiest Country

Country  Happiness Rank  Happiness Score
 Israel              11            7.278


Region : Southeastern Asia

Unhappiest Country

  Country  Happiness Rank  Happiness Score
 Cambodia             145            3.819

Happiest Country

   Country  Happiness Rank  Happiness Score
 Singapore              24            6.798


Region : Southern Asia

Unhappiest Country

     Country  Happiness Rank  Happiness Score
 Afghanistan             153            3.575

Happiest Country

Country  Happiness Rank  Happiness Score
 Bhutan              79            5.253


Region : Eastern Asia

Unhappiest Country

  Country  Happiness Rank  Happiness Score
 Mongolia             100            4.874

Happiest Country

Country  Happiness Rank  Happiness Score
 Taiwan              38            6.298


Region : North America

Unhappiest Country

       Country  Happiness Rank  Happiness Score
 United States              15            7.119

Happiest Country

Country  Happiness Rank  Happiness Score
 Canada               5            7.427


Region : Australia and New Zealand

Unhappiest Country

   Country  Happiness Rank  Happiness Score
 Australia              10            7.284

Happiest Country

     Country  Happiness Rank  Happiness Score
 New Zealand               9            7.286

## 4. Countries that became unhappy between 2015 to 2017

In [0]:
#Year 2015
df_country_2015 = data_2015['Country']

df_happiness_score_2015 = data_2015['Happiness Score']

#Year 2017
df_country_2017 = data_2017['Country']

df_happiness_score_2017 = data_2017['Happiness.Score']

#Creating a dictionary for deleting the countries which are present in 2015 dataset but not present in 2017, or vice versa.
d = {}

for i in df_country_2015:
        d[i] = d.get(i,0) + 1
for i in df_country_2017:
        d[i] = d.get(i,0) + 1        

temp = []   #temp list for storing countries whose count is 1.
for i in d:
    if d[i] == 1:
        temp.append(i)

for i in temp:    #deleting those countries.
    del d[i]

In [0]:
# printing the desrired comparision

countries = []
for x in d:
    df_15 = data_2015[data_2015['Country'] == x]
    i = df_15['Happiness Score']
    
    df_17 = data_2017[data_2017['Country'] == x]
    j = df_17['Happiness.Score']
    
    if float(i) > float(j):
        print("Country :", x, '   Happiness Score in 2015 :', format(float(i), '.3f'), '   Happiness Score in 2017 :', format(float(j), '.3f'))

Country : Switzerland    Happiness Score in 2015 : 7.587    Happiness Score in 2017 : 7.494
Country : Iceland    Happiness Score in 2015 : 7.561    Happiness Score in 2017 : 7.504
Country : Denmark    Happiness Score in 2015 : 7.527    Happiness Score in 2017 : 7.522
Country : Canada    Happiness Score in 2015 : 7.427    Happiness Score in 2017 : 7.316
Country : Netherlands    Happiness Score in 2015 : 7.378    Happiness Score in 2017 : 7.377
Country : Sweden    Happiness Score in 2015 : 7.364    Happiness Score in 2017 : 7.284
Country : Australia    Happiness Score in 2015 : 7.284    Happiness Score in 2017 : 7.284
Country : Israel    Happiness Score in 2015 : 7.278    Happiness Score in 2017 : 7.213
Country : Costa Rica    Happiness Score in 2015 : 7.226    Happiness Score in 2017 : 7.079
Country : Austria    Happiness Score in 2015 : 7.200    Happiness Score in 2017 : 7.006
Country : Mexico    Happiness Score in 2015 : 7.187    Happiness Score in 2017 : 6.578
Country : United States    Happiness Score in 2015 : 7.119    Happiness Score in 2017 : 6.993
Country : Brazil    Happiness Score in 2015 : 6.983    Happiness Score in 2017 : 6.635
Country : Luxembourg    Happiness Score in 2015 : 6.946    Happiness Score in 2017 : 6.863
Country : Belgium    Happiness Score in 2015 : 6.937    Happiness Score in 2017 : 6.891
Country : United Arab Emirates    Happiness Score in 2015 : 6.901    Happiness Score in 2017 : 6.648
Country : United Kingdom    Happiness Score in 2015 : 6.867    Happiness Score in 2017 : 6.714
Country : Venezuela    Happiness Score in 2015 : 6.810    Happiness Score in 2017 : 5.250
Country : Singapore    Happiness Score in 2015 : 6.798    Happiness Score in 2017 : 6.572
Country : Panama    Happiness Score in 2015 : 6.786    Happiness Score in 2017 : 6.452
Country : Chile    Happiness Score in 2015 : 6.670    Happiness Score in 2017 : 6.652
Country : Qatar    Happiness Score in 2015 : 6.611    Happiness Score in 2017 : 6.375
Country : France    Happiness Score in 2015 : 6.575    Happiness Score in 2017 : 6.442
Country : Uruguay    Happiness Score in 2015 : 6.485    Happiness Score in 2017 : 6.454
Country : Colombia    Happiness Score in 2015 : 6.477    Happiness Score in 2017 : 6.357
Country : Thailand    Happiness Score in 2015 : 6.455    Happiness Score in 2017 : 6.424
Country : Saudi Arabia    Happiness Score in 2015 : 6.411    Happiness Score in 2017 : 6.344
Country : Kuwait    Happiness Score in 2015 : 6.295    Happiness Score in 2017 : 6.105
Country : El Salvador    Happiness Score in 2015 : 6.130    Happiness Score in 2017 : 6.003
Country : Uzbekistan    Happiness Score in 2015 : 6.003    Happiness Score in 2017 : 5.971
Country : Japan    Happiness Score in 2015 : 5.987    Happiness Score in 2017 : 5.920
Country : South Korea    Happiness Score in 2015 : 5.984    Happiness Score in 2017 : 5.838
Country : Bolivia    Happiness Score in 2015 : 5.890    Happiness Score in 2017 : 5.823
Country : Moldova    Happiness Score in 2015 : 5.889    Happiness Score in 2017 : 5.838
Country : Paraguay    Happiness Score in 2015 : 5.878    Happiness Score in 2017 : 5.493
Country : Kazakhstan    Happiness Score in 2015 : 5.855    Happiness Score in 2017 : 5.819
Country : Slovenia    Happiness Score in 2015 : 5.848    Happiness Score in 2017 : 5.758
Country : Peru    Happiness Score in 2015 : 5.824    Happiness Score in 2017 : 5.715
Country : Belarus    Happiness Score in 2015 : 5.813    Happiness Score in 2017 : 5.569
Country : Croatia    Happiness Score in 2015 : 5.759    Happiness Score in 2017 : 5.293
Country : Libya    Happiness Score in 2015 : 5.754    Happiness Score in 2017 : 5.525
Country : Jamaica    Happiness Score in 2015 : 5.709    Happiness Score in 2017 : 5.311
Country : Cyprus    Happiness Score in 2015 : 5.689    Happiness Score in 2017 : 5.621
Country : Kosovo    Happiness Score in 2015 : 5.589    Happiness Score in 2017 : 5.279
Country : Indonesia    Happiness Score in 2015 : 5.399    Happiness Score in 2017 : 5.262
Country : Vietnam    Happiness Score in 2015 : 5.360    Happiness Score in 2017 : 5.074
Country : Kyrgyzstan    Happiness Score in 2015 : 5.286    Happiness Score in 2017 : 5.004
Country : Nigeria    Happiness Score in 2015 : 5.268    Happiness Score in 2017 : 5.074
Country : Bhutan    Happiness Score in 2015 : 5.253    Happiness Score in 2017 : 5.011
Country : Zambia    Happiness Score in 2015 : 5.129    Happiness Score in 2017 : 4.514
Country : Mozambique    Happiness Score in 2015 : 4.971    Happiness Score in 2017 : 4.550
Country : Albania    Happiness Score in 2015 : 4.959    Happiness Score in 2017 : 4.644
Country : Lesotho    Happiness Score in 2015 : 4.898    Happiness Score in 2017 : 3.808
Country : Bangladesh    Happiness Score in 2015 : 4.694    Happiness Score in 2017 : 4.608
Country : Ukraine    Happiness Score in 2015 : 4.681    Happiness Score in 2017 : 4.096
Country : Iraq    Happiness Score in 2015 : 4.677    Happiness Score in 2017 : 4.497
Country : Ghana    Happiness Score in 2015 : 4.633    Happiness Score in 2017 : 4.120
Country : Zimbabwe    Happiness Score in 2015 : 4.610    Happiness Score in 2017 : 3.875
Country : Liberia    Happiness Score in 2015 : 4.571    Happiness Score in 2017 : 3.533
Country : India    Happiness Score in 2015 : 4.565    Happiness Score in 2017 : 4.315
Country : Sudan    Happiness Score in 2015 : 4.550    Happiness Score in 2017 : 4.139
Country : Haiti    Happiness Score in 2015 : 4.518    Happiness Score in 2017 : 3.603
Country : Congo (Kinshasa)    Happiness Score in 2015 : 4.517    Happiness Score in 2017 : 4.280
Country : Ethiopia    Happiness Score in 2015 : 4.512    Happiness Score in 2017 : 4.460
Country : Mauritania    Happiness Score in 2015 : 4.436    Happiness Score in 2017 : 4.292
Country : Botswana    Happiness Score in 2015 : 4.332    Happiness Score in 2017 : 3.766
Country : Georgia    Happiness Score in 2015 : 4.297    Happiness Score in 2017 : 4.286
Country : Malawi    Happiness Score in 2015 : 4.292    Happiness Score in 2017 : 3.970
Country : Yemen    Happiness Score in 2015 : 4.077    Happiness Score in 2017 : 3.593
Country : Angola    Happiness Score in 2015 : 4.033    Happiness Score in 2017 : 3.795
Country : Tanzania    Happiness Score in 2015 : 3.781    Happiness Score in 2017 : 3.349
Country : Madagascar    Happiness Score in 2015 : 3.681    Happiness Score in 2017 : 3.644
Country : Central African Republic    Happiness Score in 2015 : 3.678    Happiness Score in 2017 : 2.693
Country : Guinea    Happiness Score in 2015 : 3.656    Happiness Score in 2017 : 3.507
Country : Burundi    Happiness Score in 2015 : 2.905    Happiness Score in 2017 : 2.905

## 5. Find the country whose happiness decreased by the most amount

In [0]:
max = 0   #variable 1
country = ''   #variable 2

for x in d:   #using previously created dictionary as comparing between 2015 with 2017.
    df_15 = data_2015[data_2015['Country'] == x]
    i = df_15['Happiness Score']
    
    df_17 = data_2017[data_2017['Country'] == x]
    j = df_17['Happiness.Score']
    
    temp = float(i) - float(j)

    if temp > max:
        
        country = x     #comparing and updating
        max = temp

    
print("Country :", country, "   The amount of happiness score is decreased by :", format(max, '.3f') )

Country : Venezuela    The amount of happiness score is decreased by : 1.560